upstream backend {
    server backend1:8080;
    server backend2:8080;
    server backend3:8080;
}

server {
    listen 80;
    server_name {{ .Env.NGINX_HOST }};

    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ .Env.NGINX_HOST }};

    ssl_certificate {{ .Env.NGINX_SSL_CERTIFICATE }};
    ssl_certificate_key {{ .Env.NGINX_SSL_CERTIFICATE_KEY }};

    location / {
        proxy_pass http://backend;
    }
}